$color-primary: #ef7c00;
$color-text: #2c2d2e;
$color-text-secondary: #919399;
$color-success: #0dc268;

$maxWidth: 1164;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $addMobSize: $addSize + $addSize * 0.7;
  @media screen and (min-width: 767px) {
    font-size: calc(#{$mobSize + px} + #{$addSize} * (100vw / #{$maxWidth}));
  }
  @media screen and (max-width: 767px) {
    font-size: calc(
      #{$mobSize + px} + #{$addMobSize} * ((100vw - 320px) / #{$maxWidth})
    );
  }
}

.lng-name-cl {
  color: $color-primary;
}
.text--active-color {
  color: $color-primary;
}

//------------dark-theme

$color-bg-dark: #212529;
$color-window-dark: #2a2e32;
$color-default-dark: #fff;
$color-text-secondary-dark: #94949c;
$color-primary-dark: #d84e4b;
